span {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 10px;

}

#faceLivenessDetectorContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    // height: 70vh;
    width: 50vw;
    margin: 10px;

    // overflow: hidden;
}