<dbx-confirmation-dialog id="db"
        [headerText]="modalHeaderText"
        [message]="modalMessage"
        [proceedText]="modalProceedText"
        [cancelText]="modalCancalText"
        [isOpen]="isModalOpen"
        (proceedClick)="onModalConfirm()"
        (cancelClick)="onModalCancelled()"
     >  
</dbx-confirmation-dialog>

<div id="faceLivenessReactContainer" *ngIf="start_liveness_session; else elseBlock">
    <app-faceliveness-react-wrapper #faceliveness [sessionId]="session_id"
        (livenessResults)="handleLivenessAnalysisResults($event)"
        (livenessErrors)="handleErrors($event)">
    </app-faceliveness-react-wrapper>

</div>

<ng-template id="loadingScreen" #elseBlock>
    <div id="faceLivenessReactContainer">

        <div id="elseBlock">
            <h1>{{loadingScreenText}}</h1>
            <h2>{{subText}}</h2>
        </div>
    </div>
</ng-template>

<div class="controls">
    <button (click)="toggleCamera()" *ngIf="cameraOn; else cameraOff">Stop</button>
        <ng-template #cameraOff>
            <button (click)="start()">Start</button>
        </ng-template>
    <button routerLink="/">Go Back</button>
</div>