<div class="navbar">
    <button (click)="onLogout()" class="logout-button">Logout</button>
</div>
<div class="welcome-container">
    <div class="links">
        <a class="liveness" routerLink="liveness">
            <img src="https://png.pngtree.com/png-clipart/20230403/original/pngtree-face-scan-line-icon-png-image_9022567.png" alt="face liveess">
            <a class="nav-link">Liveness</a>
        </a>
        <a class="qr" routerLink="qr">
            <img src="https://static.thenounproject.com/png/1433173-200.png" alt="qr scanner">
            <a class="nav-link">QR</a>
        </a>
    </div>
</div>