$primary-color: #3498db;
$background-color: #ecf0f1;
$font-family: 'Helvetica Neue', sans-serif;
$button-radius: 30px;
$hover-color: darken($primary-color, 10%);
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

// Navbar
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: $background-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logout-button {
    background: linear-gradient(45deg, $primary-color, lighten($primary-color, 10%));
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: $font-family;
    border-radius: $button-radius;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
      background: linear-gradient(45deg, lighten($primary-color, 10%), $primary-color);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

// Welcome Container
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Make sure it occupies the full height of the viewport
  width: 100%;
  background-color: $background-color;
  padding: 50px;
  border-radius: 15px;
  box-shadow: $box-shadow;
  margin: auto;

  .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;

    .liveness, .qr {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      transition: transform 0.3s ease;
      flex: 1; // Make them grow and take up equal space
      max-width: 45%; // Limit their maximum width to maintain some padding
      margin: 0 10px; // Add some margin for spacing

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 80%; // Adjusted to occupy more space
        height: auto; // Maintain aspect ratio
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        // &:hover {
        //   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        //   transform: scale(1.05);
        // }
      }

      .nav-link {
        font-family: $font-family;
        color: $primary-color;
        text-decoration: none;
        font-size: 2em; // Increased font size for emphasis
        transition: color 0.3s ease;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
